@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h2>Add an student</h2>

<h4>Add an student to this department: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DepartmentId)

    @Html.Label("Select student")
    @Html.DropDownList("StudentId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>