@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Course

<h2>Course Details</h2>
<hr />
<h3>Department: @Model.JoinEntitiesCourseDepartments.FirstOrDefault()?.Department?.Name
</h3>
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinEntitiesStudentCourses.Count == 0)
{
  <p>There are no students in this course.</p>
}
else
{
  <h4>Students in this course:</h4>
  <ul>
  @foreach(StudentCourse join in Model.JoinEntitiesStudentCourses)
  {
    <li>@join.Student.Description</li>
    @using (Html.BeginForm("DeleteJoin", "Courses"))
    {
      @Html.Hidden("joinId", @join.StudentCourseId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Student", "AddStudent", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.CourseId })</p>
<p>@Html.ActionLink("Delete Course", "Delete", new { id = Model.CourseId })</p>