@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<h2>Edit</h2>

<h4>Edit this student: @Html.DisplayFor(model => model.Description)</h4>

<div>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StudentId)

    @Html.LabelFor(model => model.Description)<span>: </span>
    @Html.EditorFor(model => model.Description)
    <br>
    @Html.LabelFor(model => model.EnrollmentDate)<span>: </span>
    @Html.EditorFor(model => model.EnrollmentDate, new { htmlAttributes = new { @class = "form-control datepicker date-input", type = "date" } })
    <br>
    
    <input type="submit" value="Save" />
  }
  
  <h4>This student has the following courses:</h4>
  <ul>
    @foreach (StudentCourse join in Model.JoinEntitiesStudentCourses)
    {
      <li>@join.Course.Title | 
        @using (Html.BeginForm("CourseCompletion", "Students")) {
          @Html.Hidden("Id", @join.StudentCourseId)
          @Html.Label("Completed?")<span> </span>
        @Html.CheckBox("Completed")
      <input type="submit" value="Save"/>
      }
    
      @using (Html.BeginForm("DeleteJoin", "Students"))
      {
        @Html.Hidden("joinId", @join.StudentCourseId)
        <input type="submit" value="Delete"/>
      }
      <br>

      </li>
    }
  </ul>


</div>
<p>@Html.ActionLink("Back to list", "Index")</p>